<div class="row align-items-start">
  <div class="col">
    <form [ngClass]="{'was-validated': retornaValidacao}" novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group form-row">
        <div class="col-12">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome"
            formControlName="nome" />
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col-12">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="nome@email.com"
            formControlName="email" />
        </div>
      </div>
      <!--
      <div ngModelGroup="endereco">
        <div class="form-group form-row">
          <div class="col-3">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" [ngClass]="{'is-invalid': aplicaErro(cep), 'is-valid': !aplicaErro(cep) && cep.touched}"
              [(ngModel)]="usuario.cep" required #cep="ngModel" (blur)="consultaCEP($event.target.value, f)">
            <app-input-texto [condicao]="aplicaErro(cep)" mensagem="CEP é obrigatório"></app-input-texto>
          </div>
          <div class="col-3">
            <label for="numero">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="usuario.numero" [ngClass]="{'is-invalid': aplicaErro(numero), 'is-valid': !aplicaErro(numero) && numero.touched}"
              required #numero="ngModel">
            <app-input-texto [condicao]="aplicaErro(numero)" mensagem="Número é obrigatório"></app-input-texto>
          </div>
          <div class="col-6">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="usuario.complemento" #complemento="ngModel">
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-12">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" ngModel [ngClass]="{'is-invalid': aplicaErro(rua), 'is-valid': !aplicaErro(rua) && rua.touched}"
              required #rua="ngModel" readonly>
            <app-input-texto [condicao]="aplicaErro(rua)" mensagem="Rua é obrigatório"></app-input-texto>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-3">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="usuario.bairro" [ngClass]="{'is-invalid': aplicaErro(bairro), 'is-valid': !aplicaErro(bairro) && bairro.touched}"
              #bairro="ngModel" readonly required>
            <app-input-texto [condicao]="aplicaErro(bairro)" mensagem="Bairro é obrigatório"></app-input-texto>
          </div>
          <div class="col-3">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="usuario.cidade" [ngClass]="{'is-invalid': aplicaErro(cidade), 'is-valid': !aplicaErro(cidade) && cidade.touched}"
              #cidade="ngModel" readonly required>
            <app-input-texto [condicao]="aplicaErro(cidade)" mensagem="Cidade é obrigatório"></app-input-texto>
          </div>
          <div class="col-6">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="usuario.estado" required [ngClass]="{'is-invalid': aplicaErro(estado), 'is-valid': !aplicaErro(estado) && estado.touched}"
              #estado="ngModel" readonly>
            <app-input-texto [condicao]="aplicaErro(estado)" mensagem="Estado é obrigatório"></app-input-texto>
          </div>
        </div>
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<app-form-debug [form]="formulario"></app-form-debug>