<div class="row align-items-start">
  <div class="col">
    <form [ngClass]="{'was-validated': retornaValidacao}" novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group form-row">
        <div class="col-12">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome"
            [ngClass]="{'is-invalid': aplicaErro('nome'), 'is-valid': !aplicaErro('nome') && aplicaTocado('nome')}"
            formControlName="nome" />
          <app-input-texto [condicao]="aplicaErro('nome')" mensagem="Nome é obrigatório"></app-input-texto>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col-12">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="nome@email.com"
          [ngClass]="{'is-invalid': aplicaErro('email'), 'is-valid': !aplicaErro('email') && formulario.get('email').touched}"
            formControlName="email" />
            <!-- verificar no tutorial do baltieri -->
          <app-input-texto [condicao]="verificaEmailInvalido()" mensagem="E-mail é obrigatório"></app-input-texto>
        </div>
      </div>
      <div formGroupName="endereco">
        <div class="form-group form-row">
          <div class="col-3">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" formControlName="cep" [ngClass]="{'is-invalid': aplicaErro('endereco.cep'), 'is-valid': !aplicaErro('endereco.cep') && aplicaTocado('endereco.cep')}" (blur)="consultaCEP()" />
            <app-input-texto [condicao]="aplicaErro('endereco.cep')" mensagem="CEP é obrigatório"></app-input-texto>
          </div>
          <div class="col-3">
            <label for="numero">Número</label>
            <input type="text" class="form-control" id="numero" formControlName="numero" [ngClass]="{'is-invalid': aplicaErro('endereco.numero'), 'is-valid': !aplicaErro('endereco.numero') && aplicaTocado('endereco.numero')}" />
            <app-input-texto [condicao]="aplicaErro('endereco.numero')" mensagem="Número é obrigatório"></app-input-texto>
          </div>
          <div class="col-6">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" formControlName="complemento" />
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-12">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" formControlName="rua" [ngClass]="{'is-invalid': aplicaErro('endereco.rua'), 'is-valid': !aplicaErro('endereco.rua') && aplicaTocado('endereco.rua')}" />
            <app-input-texto [condicao]="aplicaErro('endereco.rua')" mensagem="Rua é obrigatório"></app-input-texto>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-3">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" formControlName="bairro" [ngClass]="{'is-invalid': aplicaErro('endereco.bairro'), 'is-valid': !aplicaErro('endereco.bairro') && aplicaTocado('endereco.bairro')}" />
            <app-input-texto [condicao]="aplicaErro('endereco.bairro')" mensagem="Bairro é obrigatório"></app-input-texto>
          </div>
          <div class="col-3">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" formControlName="cidade" [ngClass]="{'is-invalid': aplicaErro('endereco.cidade'), 'is-valid': !aplicaErro('endereco.cidade') && aplicaTocado('endereco.cidade')}" />
            <app-input-texto [condicao]="aplicaErro('endereco.cidade')" mensagem="Cidade é obrigatório"></app-input-texto>
          </div>
          <div class="col-6">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" [ngClass]="{'is-invalid': aplicaErro('endereco.estado'), 'is-valid': !aplicaErro('endereco.estado') && aplicaTocado('endereco.estado')}" />
            <app-input-texto [condicao]="aplicaErro('endereco.estado')" mensagem="Estado é obrigatório"></app-input-texto>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="resetar()">Cancelar</button>
    </form>
  </div>
</div>

<app-form-debug [form]="formulario"></app-form-debug>